@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a  class=" @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index" style="color: #4a4a4a;">Profile</a></li>
    <li class="nav-item"><a style="color: #4a4a4a;" class=" @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email" style="color: #4a4a4a;">Email</a></li>
    <li class="nav-item"><a style="color: #4a4a4a;" class=" @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword" style="color: #4a4a4a;">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" style="color: #4a4a4a;" class="nav-item"><a id="external-login" class=" @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins" style="color: #4a4a4a;">External logins</a></li>
    }
    <li class="nav-item"><a style="color: #4a4a4a;" class=" @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication" style="color: #4a4a4a;">Two-factor authentication</a></li>
    <li class="nav-item"><a style="color: #4a4a4a;" class=" @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData" style="color: #4a4a4a;">Personal data</a></li>
</ul>
